body{
margin: 0 auto;
}
.block1__right_text{
display: flex;
font-size: 12px;
font-weight: 300;
}
.small_text{
color: rgb(36, 189, 201);
font-size: 12px;
font-weight: 300;
}
.block8_text{
color: rgb(129, 144, 154);
font-size: 13px;
font-weight: 300;
line-height: 25px;
}
.transparent_text{
color: rgb(205, 240, 238);    
} 
.header_link:hover{
color: rgb(205, 240, 238);
}
.big_name{
font-size: 30px;
line-height: 40px;
padding: 0;
margin: 10px;
}
.domain__bot_text{
padding: 0 6px;
font-weight: 300;
color: #3b4448;
}
.domain_numbers{
font-weight: 300;
color: #3b4448;
}
.domain_num-names{
font-weight: 400;
}
.choose_secondname{
color: #3b4448;
line-height: 20px;
margin: 30px 0 0 0;
}
.price__card_one_bigtext{
font-size: 30px;
position: relative;
top: 12px;
}
.price__colortext{
color: rgb(179, 179, 179);
margin: 0;
text-align: center;
}
.price_rowtext{
margin: 7px;
text-align: center;
color: black;
}
.before_pricing_text{
width: 70%;
}
.customer__text{
width: 40%;
text-align: center;
}
.customer_names{
color: #3a4348;
font-weight: 500;
line-height: 10px;
margin: 50px 0 10px 0;
}
.subscribe__text{
color: #eefafb;
font-weight: 300;
margin: 0;
}
.block10_text{
line-height: 25px;
}
.name_text{
margin: 5px;
}
p{
font-family: 'Poppins', sans-serif;    
}
h1{
font-family: 'Poppins', sans-serif; 
}
h2{
font-family: 'Poppins', sans-serif;
}
h3{
font-family: 'Poppins', sans-serif;
} 
button{
font-family: 'Poppins', sans-serif;
}
input{
font-family: 'Poppins', sans-serif;
}
h1{
line-height: 38px;
}
h2{
font-weight: 400;   
}
h3{
font-weight: 400;
}
.str{
background-image: linear-gradient(90deg, rgb(80, 203, 199), rgb(118, 232, 186));
position: relative;
padding: 20px 10% 60px 10%;
height: 500px;
}
.block1{
width: 100%;
display: flex;   
} 
.down{
width: 100%;
display: flex;
}
.block1{
justify-content: space-between;
margin-bottom: 30px;
position: relative;
}
.menu{
display: none;
}
.block1__left{
color: white;
}
.block1__left_name{
font-size: 15px;
font-weight: 800;
}
.block1__right{
position: absolute;
right: 10%;
padding: 5px;
float: right;
margin: 0 auto;
}
.block1__right_but{
border: 1px solid #a3e8da;
border-radius: 25px;
padding: 7px 15px;
margin: 0;
}
.block1__right_but:hover{
background-color: white;
color: #a3e8da;
}
.block1_link{
text-decoration: none;
color: white;
padding: 0px 12px 0 12px;
}
.down__left{
width: 40%;
color: white;
position: relative;
z-index: 2;
}
.down__left::before{
content: '';
position: absolute;
width: 70px;
height: 70px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.131);
position: absolute;
top: -105px;
left: -10%;
z-index: 1;
}
.down__left::after {
content: '';
position: absolute;
width: 80px;
height: 80px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.131);
position: absolute;
top: 15px;
left: 150%;
z-index: 1;
}
.down__left_text{
width: 80%;
position: relative;
}
.down__left_text::before{
content: '';
position: absolute;
width: 150px;
height: 150px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.131);
position: absolute;
top: -60px;
left: 75%;
z-index: 1;
}
.down__left_text::after{
content: '';
position: absolute;
width: 120px;
height: 120px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.131);
position: absolute;
top: 15px;
right: -240%;
z-index: 1;
}
.down__left_but{
color: rgb(36, 189, 201);
background-color: white;
border: 1px solid white;
border-radius: 25px;
padding: 10px 15px;
margin: 20px 0;
}
.down__left_but:hover{
color: white;
background-color: transparent;
}
.down__right{
width: 60%;
position: relative;
color: white;
display: flex;
align-items: flex-end;
}
.down__right_image{
position: absolute;
width: 95%;
left: 65px;
bottom: -90%;
}
.domain{
background-color: rgb(248, 250, 255);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 150px 5% 120px 5%;
text-align: center;
height:600px;
}
.domain__form{
border: 1px solid rgb(208, 226, 219);
height: 70px;
width: 600px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 40px;
}
.domain__form_input{
height: 60%;
width: 62%;
border: 0;
padding-left: 3%;
}
.domain__form_input::placeholder{
color: #6f767e;
}
.domain__form_but{
height: 60%;
width: 30%;
border: 0;
background-color: rgb(34, 212, 124);
color: white;
}
.domain__form_but:hover{
background-color: rgb(19, 235, 127);
cursor: pointer;
}
.choose{
display: flex;
flex-direction: column;
align-items: center;
justify-content:space-around;
margin: 90px 0 130px 0;
height: 500px;
}
.choose__card{
width: 80%;
display: flex;
justify-content: space-around;
margin-top: 70px;
}
.choose__card_one{
width: 27%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
position: relative;
}
.choose__card_icon{
position: relative;
}
.choose__card_i{
position: relative;
z-index: 2;
}
.choose__card_icon::before{
content: '';
background-color: #9ee8eea5;
width: 13px;
height: 13px;
border-radius: 50%;
position: absolute;
bottom: 15px;
left: -5px;
}
.choose__card_icon::after{
content: '';
background-color: #d4f8e69f;
width: 20px;
height: 20px;
border-radius: 50%;
position: absolute;
top: 10px;
left: 15px;
}
.price{
background-color: rgb(248, 250, 255);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 100px 0;
}
.price__cards{
display: flex;
justify-content: space-around;
width: 80%;
margin-top: 100px;
}
.price__card_one{
width: 23%;
height: 520px;
background-color: white;
display: flex;
align-items: center;
flex-direction: column;
box-shadow: 0 1px 2px 2px rgba(230, 233, 239, 0.383);
}
.price__card_one_head{
display: flex;
align-items: center;
justify-content: center;
color: white;
padding: 5px 20px 5px 20px;
height: 25px;
border-radius: 0 0 10px 10px;
background-color: rgb(36, 189, 201);
}
.price__card_one_but{
background-color: rgb(218, 246, 248);
color: rgb(36, 189, 201);
height: 50px;
border: 1px solid white;
border-radius: 25px;
width: 140px;
margin: 20px 0 10px 0;
}
.price__card_one_but:hover{
background-color: white;
border: 1px solid rgb(218, 246, 248);
cursor: pointer;
}
.block5{
width: 100%;
height: 820px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: linear-gradient(110deg,
rgba(68, 190, 192, 0.9),
rgba(100, 211, 167, 0.9)),
url(../images/bg_1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: white;
padding: 120px 0;
}
.facts_image{
opacity: 0.5;
position: absolute;
width: 100%;
height: 400px;
}
.facts__data{
width: 50%;
display: flex;
align-items: center;
justify-content:space-between;
text-align: center;
}
.facts_num{
font-size: 23px;
margin: 80px 0 0 0;
line-height: 20px;
}
.customer{
background-color: #f9faff;
display: flex;
flex-direction: column;
align-items: center;
padding: 100px 0;
height: 600px;
}
.customer__cards{
display: flex;
justify-content: center;
padding: 120px 10% 5px 10%;
}
.customer__card_one{
width: 25%;
background-color: white;
position: relative;
padding: 55px 15px 25px 15px;
margin: 10px;
}
.persona1{
position: absolute;
background-image: url(../images/person_1.jpg);
top: -35px;    
background-size:cover;
width: 70px;
height: 70px;
border-radius: 50%;
}
.persona2{
position: absolute;
top: -35px;
background-image: url(../images/person_2.jpg);
background-size:cover;
width: 70px;
height: 70px;
border-radius: 50%;
}
.persona3{
position: absolute;
top: -35px;
background-image: url(../images/person_3.jpg);
background-size:cover;
width: 70px;
height: 70px;
border-radius: 50%;
}
.persona1::before{
content: '';
background-color: #e1faee;
border-radius: 50%;
width: 25px;
height: 25px;
position: absolute;
bottom: -5px;
right: 0px;
} 
.persona2::before{
content: '';
background-color: #e1faee;
border-radius: 50%;
width: 25px;
height: 25px;
position: absolute;
bottom: -5px;
right: 0px;
} 
.persona3::before{
content: '';
background-color: #e1faee;
border-radius: 50%;
width: 25px;
height: 25px;
position: absolute;
bottom: -5px;
right: 0px;
}
.cov{
color: #22d47d;
font-size: 13px;
position: absolute;
bottom: 1px;
right: 6px;
}
.customer__dots{
display: flex;
}
.customer__dots_point{
width: 7px;
height: 7px;
border-radius: 50%;
background-color: #d6dbde;
margin: 0 3px 20px 3px;
cursor: pointer;
}
.customer__dots_point:hover{
background-color: #79868f;
}
.works{
margin: 90px 10% 80px 10%;
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.works__buttons{
display: flex;
}
.works__button_one{
background-color: white;
border: 1px solid #22d47d;
color: #22d47d;
border-radius: 25px;
padding: 10px;
margin: 80px 5px 50px 5px;
height: 35px;
display: flex;
align-items: center;
}
.works__button_one:hover{
background-color: #22d47d;
color: white;
cursor: pointer;
}
.works__bottom{
display: flex;
justify-content: center;
align-items: center;
}
.works__bottom_left{
width: 40%;
padding: 20px;
}
.works__bottom_right{
width: 40%;
padding: 20px;
}
.works_image{
width: 100%;
height: 80%;
border: 1px solid #dadfe3;
box-shadow: 0 1px 1px 1px rgba(230, 233, 239, 0.26);
}
.block8 {
background-color: rgb(98, 205, 211);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding: 120px 0 100px 0;
}
.block8__form{
border: 1px solid #dff5f7;
padding: 9px;
border-radius: 25px;
margin: 40px;
width: 240px;
}
.block8__up{
width: 40%;
text-align: center;
color: white;
display: flex;
justify-content: flex-end;
flex-direction: column;
}
.block8__form_input{
border: 0;
color: #dff5f7;
background-color: transparent;
font-size: 14px;
width: 180px;
}
input::-webkit-input-placeholder{
color: #dff5f7;
}
.block8__form_but{
background-color: transparent;
border: 0;
color: #dff5f7;
float: right;
margin-right: 3px;
}
.block8__form_but:hover{
color: white;
cursor: pointer;
}
.block9{
background-color: rgb(249, 250, 255);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px 10% 120px 10%;
}
.block9__text{
width: 50%;
text-align: center;
margin: 0 0 80px 0;
}
.block9__cards{
display: flex;
justify-content: space-around;
}
.block9__card_one{
width: 31%;
display: flex;
flex-direction: column;
border: 1px solid rgb(249, 250, 255);
background-color: white;
box-shadow: 0 0.3em 0.5em rgba(145, 142, 142, 0.3);
}
.block9__card_image{
width: 100%;
height: 80%;
}
.block9_image{
width: 100%;
}
.block9__card_text{
padding: 24px;
}
.block10{
background-color: rgb(36, 189, 201);
color: rgb(192, 235, 239);
padding: 150px 10% 120px 10%;
display: flex;
flex-direction: column;
justify-content: center;
}
.block10_name{
margin-bottom: 40px;
color: white;
}
.block10_contacts{
color: white;
}
.block10_up{
display: flex;
justify-content: space-around;
}
.block10__col{
width: 20%;
}
.block10__col_lust{
display: grid;
grid-template-columns: 35px 1fr;
grid-template-rows: 90px 40px 40px 40px;
}
.block10_but {
height: 40px;
color: rgb(36, 189, 201);
background-color: white;
border:1px solid white;
border-radius: 20px;
width: 110px;
cursor: pointer;
}
.block10_but:hover{
color: white;
background-color: transparent;
}
.block10_down {
text-align: center;
}
.block10_link{
text-decoration: none;
color: rgb(192, 235, 239);
margin: 10px 0;
}
.block10_link:hover{
color: white;
}
.block10__col_icon{
float: left;
}
.block10_social{
margin: 50px 5px;
display: flex;
width: 200px;
}
.block10_icon{
margin: 5px;
padding: 15px;
box-sizing: border-box;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #32c0cc;
border: 0;
color: white;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}
.block10_icon:hover{
background-color: #45ceda;
color: white;
}
@media (max-width: 1300px){
.down__right_image{
bottom: -64%;
}
}
@media (max-width: 1200px){
.down__right_image{
bottom: -32%;
}
}
@media (max-width: 1100px){
.down__right_image {
bottom: -31%;
}
}
@media (max-width: 1050px){
.down__right_image {
bottom: -30%;
}
}
@media (max-width: 1000px){
.down__right_image{
bottom: -28%;
}
.price__cards{
flex-wrap: wrap;
margin-top: 80px;
}
.price__card_one{
width: 40%;
margin-top: 20px;
}
}
@media (max-width: 900px){
.down__right_image{
bottom: -27%;
width: 90%;
}
}
@media (max-width: 850px){
.down__right_image{
bottom: -26%;
}
}
@media (max-width: 775px){
.block1,
.str{
padding: 0;
height: 500px;
}
.menu{
display: flex;
position: absolute;
padding: 0 10px;
top: -10px;
right: 10px;
z-index: 10;
color: #9da1a4;
}
.menu_content:hover{
color: white;
cursor: pointer;
}
.block1{
background-color: #32393d;
height: fit-content;
flex-direction: column;
z-index: 7;
}
.block1__right{
width: 100%;
padding: 0px;
position: relative;
left: 0;
}
.block1__right_text{
flex-direction: column;
height: auto;
}
.block1_link{
padding: 0px 25px;
}
.block1_link:hover{
color: #9da1a4;
}
.block1__left_name{
margin: 10px 0 0 20px;
}
.block1__right_but{
border: 1px solid #888e91;
width: 97%;
box-sizing: border-box;
padding: 7px 15px;
margin-left: 1%;
display: flex;
}
.block1__left{
width: 100%;
color: white;
}
.down__left{
width: 100%;
color: white;
}
.down{
width: 100%;
flex-direction: column;
align-items: center;
text-align: center;
}
.down__left{
padding-top: 100px;
}
.down__left::before{
top: -40px;
left: 5%;
}
.down__left::after{
top: 140px;
left: 53%;
}
.down__left_text::before{
top: -10px;
left: 38%;
}
.down__left_text::after{
top: 200px;
right: 2%;
}
.down__right{
width: 100%;
height: 410px;
}
.down__left_text{
width: 100%;
padding: 0 5%;
box-sizing: border-box;
}
.down__right_image{
opacity: 1;
z-index: 5;
bottom: -15%;
}
.down__left_but{
background-color: #f1fbf9;
margin: 0 0 10px 0;
}
.domain__form{
width: 90%;
height: 88px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 40px;
padding: 15px;
}
.domain__form_input{
height: 50%;
width: 94%;
padding: 0 3%;
}
.domain__form_but{
height: 50%;
width: 100%;
}
.choose__card{
width: 85%;
flex-direction: column;
}
.choose__card_one{
width: 100%;
margin-top: 50px;
}
.price__cards{
flex-wrap: wrap;
width: 100%;
}
.price__card_one{
width: 90%;
height: 460px;
}
.price__card_one_but{
width: 90%;
}
.facts__data{
flex-direction: column;
margin-bottom: 80px;
}
.facts__data_one{
height: 90px;
}
.customer__text{
width: 90%;
}
.customer__cards{
padding: 120px 0 5px 0;
flex-direction: column;
}
.customer__card_one{
width: 90%;
margin: 5%;
box-sizing: border-box;
}
.customer__card_one:not(:first-child){
display: none;
}
.works{
margin: 90px 0 80px 0;
}
.works__buttons{
flex-direction: column;
margin: 80px 0 50px 0;
width: 90%;
}
.works__button_one{
padding: 20px;
width: 100%;
margin: 2px 0;
box-sizing: border-box;
text-align: center;
justify-content: center;
}
.works__bottom{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.works__bottom_left{
width: 90%;
padding: 0px;
}
.works__bottom_right{
width: 90%;
padding: 0px;
}
.block8{
background-image: linear-gradient(135deg, rgb(47, 190, 196), rgb(103, 229, 179));
}
.block8__form{
width: 90%;
}
.block8__up{
width: 90%;
text-align: center;
color: white;
display: flex;
justify-content: flex-end;
flex-direction: column;
}
.even{
color: blue;
}
.block9{
padding: 100px 5% 120px 5%;
}
.block9__text{
width: 100%;
}
.block9__cards{
flex-direction: column;
}
.block9__card_one{
width: 100%;
margin-bottom: 20px;
}
.block10 {
padding: 150px 5% 120px 5%;
}
.block10_up{
flex-direction: column;
}
.block10__col{
width: 100%;
}
.block10__col_lust{
grid-template-rows: 40px 40px 40px 40px;
}
}
@media (max-width: 700px){
.down__right{
height: 380px;
}
.down__right_image{
bottom: -15%;
}
}
@media (max-width: 650px){
.down__right{
height: 360px;
}
.down__right_image{
bottom: -14%;
}
}
@media (max-width: 600px){
.down__right {
height: 340px;
}
}
@media (max-width: 550px){
.down__right {
height: 315px;
}
}
@media (max-width: 500px){
.down__right{
height: 290px;
}
}
@media (max-width: 450px){
.down__right{
height: 260px;
}
.block10__col_lust{
grid-template-rows: 70px 40px 40px 40px;
}
}
@media (max-width: 395px){
.down__right{
height: 235px;
}
.down__right_image{
bottom: -13%;
}
}